<div id="page-summary" class="bordered-box">
	<%= @user.getFullName %>
</div>

<div id="page-content" class="bordered-box">
	<a href="/apps/new" class="app-box app-new"> <i class="fa fa-plus fa-3x"></i> </a>
	<div class="app-box app"></div>
	<div class="app-box app"> </div>
	<div class="app-box app"></div>
	<div class="app-box app"> </div>
</div>