/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* http://colorschemedesigner.com/#3p31TogE8wtwe */
 /* http://colorschemedesigner.com/#0431TogE8wtwe */

 body, html{
 	font-family: "Museo Sans","Lucida Grande",helvetica,Arial,sans-serif;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
	height: 100%;
	/*background-image: url('/assets/furley_bg.png');*/
	background: #ffeedd;
}

#header {
	width: 100%;
	position: relative;
	background: #ff5c3e;
	height: 70px;
	border-bottom: #ffa695 solid 2px;
}

#header #logo {
	position: absolute;
	top: 20%;
	background-image: url('logo_white.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 150px auto;
	height: 50px;
	width: 150px;
	display: block;
}

.container {
	width: 1028px;
	margin: 0px auto;
	height: 100%;
}

#header ul#navigation {
	display: inline-block;
	position: relative;
	left: 170px;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 850px;
	text-decoration: none;
}

#header #navigation li {
	display: inline-block;
	list-style: none;
	height: 100%;
	text-transform: uppercase;
	font-size: 120%;
}

#header #navigation li a {
	position: relative;
	top: 40%;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
}

#header #navigation li a:hover {
	background: #ff8561;
}

#header #user-button {
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0px;
	right: 0px;
	width: 170px;
	height: 45px;
	text-decoration: none;
	color: #fff;
	vertical-align: top;
	padding-top: 25px;
}

#header #user-button:hover {
	background: #ff8561;
}

.bordered-box {
	background: #fff;
	border: 1px solid #ffc8b7;
}

#page-summary {
	vertical-align: top;
	display: inline-block;
	width: 330px;
	min-height: 300px;
	margin: 15px;
	margin-left: 0px;
}

#page-content {
	vertical-align: top;
	display: inline-block;
	width: 650px;
	min-height: 320px;
	margin: 15px;
	margin-left: 0px;
}


/* Tooltip */

.tooltip-wrapper {
	position: absolute;
	max-width: 200px;
	line-height: 20px;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
}

.tooltip-wrapper.white {
	color: #777;
    background: #fff;
    border: 2px solid #aaa;
    /*text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;*/
}

.tooltip-wrapper:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
	bottom: 42px;
	left: 50px;
}

.tooltip-wrapper.white:before {
	border-color: transparent transparent #aaa transparent;
}



/* Form */

form#signup, form#login {
	width: 250px;
	padding: 20px 40px;
	margin: 50px auto;
}

form#new-app, form#new-model, .model-view {
	width: 650px;
	padding: 20px 40px;
	margin: 50px auto;
}

.form-field .half-length {
	width: 230px;
	margin-right: 15px;
}


.form-field {
	position: relative;	
	padding: 0px;
	margin: 10px 0px;
}

.form-field label {
	display: block;
	font-weight: bold;
	padding: 5px 0px;
	font-size: 0.9em;
}

.form-field input[type='text'],input[type='password'],select{
	margin: 0px;
	vertical-align: top;
	display: inline-block;
	font-size: 1.15em;
	border: 1px solid #ccc;
	padding: 5px 10px;
}

.form-field select {
	margin-top: 3px;
	margin-left: 7px;
}

.form-field .add {
	color: #8db44e;
	margin-top: 5px;
	margin-left: 8px;
}

.form-field .add:hover {
	color: #c2f86b;
}

.form-field .remove {
	color: #ff7c6e;
	margin-top: 5px;
	margin-left: 3px;
}

.form-field .remove:hover {
	color: #ff9f95;
}

.form-field input[type='submit'], .button {
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	font-size: 1.1em;
	cursor: hand;
	cursor: pointer;
}


input[type='submit'].blue {
	background: #3299bb;
	color: #fff;
}

input[type='submit'].blue:hover {
	background: #64bfdd;
}

a.blue {
	background: #3299bb;
	color: #fff;
}

a.blue:hover {
	background: #64bfdd;
}


a.red {
	background: #ff5031;
	color: #fff;
}

a.red:hover {
	background: #ff7c61;
}


.form-field .full-length {
	width: 230px;
}

.error-message {
	color: #f00;
	font-weight: bold;
}

.form-field .first-name {
	width: 110px;
}

.form-field .last-name {
	width: 91px;
}

.error-field {
	border: 1px solid #f00 !important;
}


/* User Menu */
#user-nav {
	background: #eee;
	padding: 0px;
	width: 170px;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	margin: 0px;
	z-index: 999 !important;
	position: absolute;
}

#user-nav li {
	width: 100%;
	list-style: none;
}

#user-nav a {
	color: #aaa;
	padding: 10px 15px;
	display: block;
}

#user-nav a:hover {
	background: #aaa;
	color: #fff;
	
}

a {
	text-decoration: none;
	transition-property: color;
	-o-transition-property: color;
	-moz-transition-property: color;
	-webkit-transition-property: color;
	transition-property: background;
	-o-transition-property: background;
	-moz-transition-property: background;
	-webkit-transition-property: background;
	transition-property: border-color;
	-o-transition-property: border-color;
	-moz-transition-property: border-color;
	-webkit-transition-property: border-color;
	transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}

a:hover {
	
}


/* App */

.app-box {
	position: relative;
	vertical-align: top;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.app-box.app-new {
	color: #ffa695;
	border: 5px dashed #ffa695;
	height: 140px;
	width: 140px;
}

.app-box.app-new:hover {
	border-color: #ffc9a7;
	color: #ffc9a7;
}

.app-box.app-new i {
	position: relative;
	top: 55px;
	left: 55px;
}

.app-box.app {
	height: 150px;
	width: 150px;
	background: #ffa695;
}

/* Model */

.model-box {
	vertical-align: top;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.model-box.model-new {
	color: #8db44e;
	border: 5px dashed #8db44e;
	height: 140px;
	width: 140px;
}

.model-box.model-new:hover {
	border-color: #c2f86b;
	color: #c2f86b;
}

.model-box.model-new i {
	position: relative;
	top: 55px;
	left: 55px;
}

.model-box.model {
	height: 150px;
	width: 150px;
	font-size: 1.1em;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	line-height: 150px;
	position: relative;
	background: #8db44e;
}

.model-box.model-default {
	height: 150px;
	width: 150px;
	font-size: 1.1em;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	line-height: 150px;
	position: relative;
	background: #679b13;
}

.model-box.model:hover {
	background: #c2f86b;
}

.model-edit .model-property {
	margin-bottom: 15px;
}

.model-view {
	max-height: 500px;
	overflow: auto;
}

.model-box.model .fa-check-circle {
	color: #a42114;
	margin-left: 5px;
}


/* Event */

.event-box {
	position: relative;
	vertical-align: top;
	margin-left: 7px;
	margin-top: 7px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.event-box.event-new {
	color: #30a3b9;
	border: 5px dashed #30a3b9;
	height: 140px;
	width: 140px;
}

.event-box.event-new:hover {
	border-color: #62c9dc;
	color: #62c9dc;
}

.event-box.event-new i {
	position: relative;
	top: 55px;
	left: 55px;
}

.event-box.event {
	height: 150px;
	width: 150px;
	background: #30a3b9;
}

.title.blue {
	font-weight: bold;
	color: #30a3b9;
	text-transform: capitalize;
	font-size: 2.0em;
	margin: 10px;
}

/* Light Box */

#black-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity=80);
}

#white-overlay {
	z-index: 1002;
	overflow: auto;
	position: absolute;
}